@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Sarabun:ital,wght@0,300;0,400;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Conthrax";
    src: url("/font/conthrax.otf") format("woff2");
}

body {
    font-family: "Open Sans", "sans-serif";
}
.animate-spin-slow {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #535353;
}
